<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Endangered Fauna World Window</title>
    <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script type='text/javascript' src="planetary.js-1.1.2/dist/planetaryjs.js"></script>
</head>
<body>
    <canvas id='globe' width='500' height='500'></canvas>
    <script type='text/javascript' src="js/efww.js"></script>
    <div>welcome</div>
</body>
</html>