/*--------text-----------*/
.tx-pad{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.tx-mar{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*----------border------------*/
.bd-width{
    border: 5px black;
}



/*----------picture-------------*/
.ph-size{
    width: 100%;
    height: 25rem;
}